*{
    margin: 0;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body{
    position: relative;
    overflow-x: hidden;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 30px 0 10px;
    background: black;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 9999;


}

header nav{
    display: flex;
    gap: 50px; 
}

header nav a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: white;
}

.logo img{
    position: relative;
    height: 200px;
    width: 200px;
}

.section1 {
    
    height: 100dvh;
    width: 100%;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('choir1.jpg')center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.tagLine{
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-direction: column;
    z-index: 999; 
    scale: 1;
    
}


.tagLine h1{
    margin-top: 0;
    height: 30vh;
    font-style: italic;
    text-shadow: 1px 1px 1px black;
    font-family: "Lobster", sans-serif;
    font-weight: 600;
    font-size: 50px;
    font-style: normal;
    z-index: -99;
    transition: transform 0.1s ease-out;
    
}
.tagLine button{ 
    
    height: 40px;
    width: 250px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 9px;
    box-shadow: 1px 1px 2px rgb(97, 96, 96);
    background-color: yellow;
    color:rgb(94, 23, 161);
    z-index: -99;
    
}


.about{
    height: 70vh;
    z-index: 999;
    background: #a4193d;
    color: #ffdfb9;
    padding: min(5em, 8%);
    display: grid;
    margin: 0;
}





.con {
    height: 50vh;
    display: grid;
    position: relative;
    justify-content: center;
    justify-items: center;
    padding: 0;
    margin: 0;
}

.about h1{
    font-size: 50px;
    position: relative;
    letter-spacing: 1px;
}


.para ul{
    display: flex;
    height: 150px;
    justify-content:space-around;
    letter-spacing: 1px;
    list-style: none;
    gap: 100px;
    padding: 0;  
}

.para li{
    gap: 50px;
    width: fit-content;
    padding-bottom: 0;
    

}

.para{
    margin-top: -80px;
    padding-bottom: 0;
}


/*
.vis { grid-area: una;}
.mis { grid-area: pan;}
.vismis { grid-area: ika;}

.vision{
    display: grid;
    grid-template-areas: 
    'una ika ika'
    'una ika ika'
    'pan ika ika'
    'pan ika ika';
    padding: 0;
    margin: 0;
    gap: 10px;
}
*/

.vision{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
    letter-spacing: 1px;
    margin-top: -150px;
}

.autoShow{
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
}

@keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }

    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.show{
    animation: showAnimation both;
    animation-timeline: view(70% 5%);
}

@keyframes showAnimation{
    from{
        opacity: 0;
        transform: translateX(200px) scale(0.3);
    }

    to{
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

.auto{
    animation: autoAnimation both;
    animation-timeline: view(70% 5%);
}

@keyframes autoAnimation{
    from{
        opacity: 0;
        transform: translateX(-200px) scale(0.3);
    }

    to{
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}


.vismis{
    grid-row: 1 / span 2;
    height: 300px;
    margin: 0;
    padding: 10px;
}

.vismis ul{
    text-align: left;
    width: 100%;
    letter-spacing: 2px;
}


.vision div{
    color:#a4193d;
    width: 550px;
    border-radius: 10px;
    background-color:#ffdfb9ed;
    justify-items: center;
    text-align: center;
    justify-content: center;
    display: grid;
    text-shadow: rgb(24, 19, 19) 0px .1px;
    padding: 20px;
    
}


.conductor{
    position: relative;
    margin: 0 100px;
    padding: 0 100px;
    z-index: 999;
    background: #fe98c8; 
    height: 80dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
    
}

.conductor-profile img{
    height: 50vh;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: antiquewhite;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}



.conductor-detail {
   display: flex;
   flex-direction: column;
   gap: 50px;
   margin: 0;
   padding: 0;
   height: 400px;
}

.conductor-profile h1{
    position: relative;
    top: -100px;
    justify-content: center;
    text-align: center;
    color:#ffdfb9;
    text-shadow: 2px 2px 5px #fe98c8;

}

.member2{
    position: flex;
    z-index: 999;
    justify-content: center;
    background-size:cover;
    height: 120vh;
    background-image: url('backgroundmembers.jpg');
    align-items: center; 
}

.member-title{
    position: relative;
    justify-content: center;
    font-size: 2rem;
    align-items: center;
    height: 500px;
    display: grid;

}
.member2 .member-title h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-table;
    justify-content: center;
    align-items: center;
    position:relative;
    text-align: center;
    padding: 50px;
    color:rgb(246, 239, 231);
    
    width: 600px;
    height: 50px;

}



.profile{
    display: flex;

    justify-content: center;
    gap: 10px;
    overflow: hidden;
    /*grid-template-columns: repeat(6, minmax(200px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;*/
}

.profile1 img{
  height: 350px;
}

.profile1{
    border: 0;
    padding: 0;
    margin: 0;
    position: relative;
    display: grid;
    justify-content: center; 
    h1{
        position: absolute;
        text-align: center;
        width: 100%;
        padding: 1em 0;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    button{
        position: relative;
        justify-content: center;
        padding: 1em 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-color: transparent;
        top: -50px;
        color: white;
    }
}

.showMember{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0;
    padding: 0;
}

.showMembers{
    height: 50%;
    width: 50%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.Navi{
    display: grid;
    gap: 100px;
    
}

.performances{
    background-color: rgba(92, 245, 243, 0.877);
    display: grid;
    overflow: hidden;
    height: 90vh;
    padding: 20px;
    gap: 5em;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    border: #000;
    border-radius: 9px;
    border-color: #000;
    border-style: dashed;
}

.performances li{
    list-style-type: none;
    font-family:'Courier New', Courier, monospace;
    display: grid;
    height: 70px;
    font-weight: 600;
    font-size: x-large;
    font-style: oblique;
    justify-items: left;
    align-items: center;
    padding: 10px;

}

.performance li:hover{
    color: white;
}

.Navi li{
    background-color: #ffdfb9;
    border: #000;
    border-radius: 9px;
    border-color: #000;
    border-style: dashed;
    
}

.taas h2{
    background-color: #ffdfb9;
}
.taas{
    display: grid;
    gap: 20px;
    height: 500px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border: #000;
    border-radius: 9px;
    border-color: #000;
    border-style: dashed;
}

.performances img{
    height: 400px;
    width: 500px;
    
}

.perf{
    display: grid;
    justify-items: center;
    align-items: center;
}

.p-details{
    position: inherit;
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 100px;
}

.hidden{
    display: none;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.search-bar {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.scroll-container {
    display: flex;
    align-items: center;
}
.member-grid {
    display: flex;
    overflow-x: auto;
    scrollbar-width: smooth;
    gap: 20px;
    justify-items: center;
    width: 1200px;
}

.member-card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
    width: 300px;
    text-align: center;
    flex-shrink: 0;
}

/*.member-card:hover {
    transform: scale(1.05);
}*/

.member-photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
}

.member-name {
    font-size: 18px;
    margin: 10px 0 5px;
}

.position {
    font-size: 14px;
    color: #888;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.member-card:hover .overlay {
    opacity: 1;
}
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    position: relative;
    text-align: center;
    gap: 20px;
    display: grid;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

.modal-image {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 6px;
}




.gform{
    margin-top: 0;
    padding: 0;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gform iframe{
    height: 50vh;
}



@media screen and (max-width: 600px) {
 body{
    max-width: 600px;
    padding: 0;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    height: 50vh;
    padding-top: 10;
 }

header{
    max-width: 600px;
    overflow-x: hidden;
    height: 10%;

    
}
 .section1{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 90vh;
    padding-top: 50px;
    
 }
.tagLine h1{
    font-size: xx-large;
    position: relative;
    top: -100px;
    width: 200px;
    justify-items: center;
    text-align: center;
}

.tagLine button{
    width: 150px;
    font-weight: 600;
}

.about{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    padding-top: 20px;
    margin: 0;
    align-items: center;
    text-align: center;
    height: 90dvh;
    padding-bottom: 20px;
    gap: 5px;
}



.con{
   
}

.para{
    margin-top: 0;
    font-size: 14px;
}
.para ul{
    justify-content: center;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top:  20px;
    margin-bottom: 10px;
}

.vision{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    
}

.vision div{
    width: 400px;
    font-size: 14px;
    padding: 0 10px;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.auto{
    height: 120px;
}

.show{
    height: 170px;
    
}



.member2{
    overflow-x: hidden;
}

.member{
    max-width: 600px;
    overflow-x: hidden;
}
.performances{
    max-width: 600px;
    overflow-x: hidden;
}

.conductor{
    height: 90dvh;
    display: grid;
    background-image: url('conductor.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    overflow: hidden;
    color: rgb(245, 246, 238);
    padding: 0;
    justify-content: center;
    text-align: center;
}

.conductor-profile h1{
    position: relative;
    top: 60px;
    font-size: 60px;
}

.conductor-profile h2{
    position: relative;
    top: 50px;

}

.conductor-profile img{
    display: none;
}

.conductor-detail h1{
    display: none;
}

.conductor-detail{
    color: #efeff4;
    padding: 0 30px;
    text-align: justify;
    text-shadow: 1px 2px 1px rgb(41, 9, 251);
    top: 70px;
    position: relative;
    font-weight: 600;
}



}



/**992px laptops/desktop and 1200px for extra-large